{% extends 'base.admin.html.twig' %}

{% block title %}Edit About{% endblock %}

{% block body %}
    <h1>Изменение описания</h1>

    {{ include('about/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('about_index') }}" class="btn btn-primary">К списку</a>

    {{ include('about/_delete_only_form.html.twig') }}
{% endblock %}
