<form method="post" action="{{ path('advantage_delete', {'id': advantage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <a href="{{ path('advantage_edit', {'id': advantage.id}) }}" class="btn btn-info">Изменить</a>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advantage.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
