{% extends 'base.admin.html.twig' %}

{% block title %}Edit Pharm{% endblock %}

{% block body %}
    <h1>Edit Pharm</h1>

    {{ include('pharm/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pharm_index') }}" class="btn btn-primary">К списку</a>

    {{ include('pharm/_delete_form.html.twig') }}
{% endblock %}
