{% extends 'base.admin.html.twig' %}

{% block title %}New Pharm{% endblock %}

{% block body %}
    <h1>Добавление новой аптеки</h1>

    {{ include('pharm/_form.html.twig') }}

    <a href="{{ path('pharm_index') }}" class="btn btn-primary">К списку</a>
{% endblock %}
