{% extends 'base.admin.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Создание нового товара</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}" class="btn btn-primary">К списку</a>
{% endblock %}
