<form method="post" action="{{ path('landing_delete', {'id': landing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <a class="btn btn-info" href="{{ path('landing_edit', {'id': landing.id}) }}">Изменить</a>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ landing.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
