{% extends 'base.admin.html.twig' %}

{% block title %}Edit Landing{% endblock %}

{% block body %}
    <h1>Изменение лэндинга</h1>

    {{ include('landing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('landing_index') }}" class="btn btn-primary">К списку</a>

    {{ include('landing/_delete_only_form.html.twig') }}
{% endblock %}
