{% extends 'base.admin.html.twig' %}

{% block title %}Новый лендинг{% endblock %}

{% block body %}
    <h1>Создание нового лендинга</h1>

    {{ include('landing/_form.html.twig') }}

    <a href="{{ path('landing_index') }}" class="btn btn-primary">К списку</a>
{% endblock %}
